<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesto Todo</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"
        integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <div class="container">
        <h1 style="padding-top: 10rem;">Pesto ToDo App</h1>

        <form action="/create" method="post" hx-boost="true">
            <input type="text" name="title" placeholder="New task" value="" autocomplete="off">
            <input type="text" name="description" placeholder="Something..." value="" autocomplete="off">
            <button type="submit" value="Add" class="button-primary" role="button">Add</button>
        </form>

        </div<ul>
        {% for task in tasks %}
        <li id="task-{{ task.id }}" class="task-item">
            {{ task.title }} - {{ task.description }}
            <select class="status-selector" data-task-id="{{ task.id }}">
                <option value="todo" {% if task.status=="Todo" %}selected{% endif %}>Todo</option>
                <option value="inprogress" {% if task.status=="InProgress" %}selected{% endif %}>In Progress
                </option>
                <option value="done" {% if task.status=="Done" %}selected{% endif %}>Done</option>
            </select>
            <button class="contrast" hx-post="/delete/{{ task.id }}" hx-target="body" hx-trigger="click">Delete</button>
        </li>
        {% endfor %}
        </ul>

        <script>
            document.querySelectorAll('.status-selector').forEach(function (selector) {
                selector.addEventListener('change', function () {
                    const taskId = this.getAttribute('data-task-id');
                    const newStatus = this.value;
                    const url = `/update?id=${taskId}&status=${newStatus}`;

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                    }).then(response => response.text())
                        .then(html => {
                            document.body.innerHTML = html;
                        });
                });
            });
        </script>
</body>

</html>
